@import "tailwindcss";
body{
    background-color:var(--color-indigo-900) ;
}
.btn-primary{
    background-color:oklch(45.7% 0.24 277.023) ;
    cursor: pointer;
    color:#ffffff;
}

.btn {
    padding:.25rem 1rem;
    
}